body {
    margin: 0 auto;
    background-color: #81E6FC;
    font-family: 'Jost';
    user-select: none;
}


.white-top {
    width: 80vw;
    margin-top: -7vw;
    margin-left: -20vw;
}

.snow {
    background-image: url('https://static.tildacdn.com/tild3665-6538-4162-b831-646534366135/Snow.svg');
}

.birdy {
    background-image: url("https://static.tildacdn.com/tild6636-3032-4538-a365-303236353137/birdy.svg");
    background-size: 65%;
    background-repeat: no-repeat; 
    background-position-x: 100%;
    background-position-y: 2%;
}

.age {
    background-image: url("https://static.tildacdn.com/tild6236-3431-4862-b533-316238396439/8_.svg");
    background-size: 9%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 78%;
}

.city-left {
    background-image: url(https://static.tildacdn.com/tild6163-6463-4137-b331-363932663438/City-left.svg);
    background-size: 15%;
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 73%;
}

.city-right {
    background-image: url(https://static.tildacdn.com/tild3030-3331-4831-a435-353630626465/City-right.svg);
    background-size: 14%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 73%;
}

.leaf {
    background-image: url('https://static.tildacdn.com/tild3137-3435-4238-b134-333263393338/ostrolist-art.svg');
    background-size: 15%;
    background-repeat: no-repeat;
    background-position-x: 21%;
    background-position-y: 18%;
    padding-top: 5px;
}

.city-right ul {
    text-align: left !important;
}

.city-right li {
    padding: 0;
}

.city-right h2 {
    margin-bottom: 4px !important;
}

#about-course h2 {
    margin-bottom: 4px;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.flex-evenly {
    justify-content: space-evenly;
}

.flex-between {
    justify-content: space-between;
}

.flex-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.text-right {
    text-align: right !important;
}

.first-f {
    margin: 4vw;
    margin-top: -6vw;
    margin-left: 5vw;
    padding-bottom: 14vw;
}

.first-f h1 {
    font-size: 7vw;
    line-height: 7vw;
    color: white;
    width: fit-content;
    margin-top: 3vw;
}

.first-f p {
    font-size: 2.3vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    font-weight: 600;
    color:#02C2FF;
    width: fit-content;
}


.first-f button {
    margin-left: auto;
}

button, a {
    font-size: 1.5vw !important;
    font-weight: 600 !important;
    color: #02C2FF !important;
    background-color: white !important;
    border-width: 2px !important;
    border-color: #02C2FF !important;
    border-radius: 8px !important;
    padding: 1vw !important;
}




.explanation {
    font-weight: 600;
}

.explanation h2 {
    margin-top: 10vw;
    margin-bottom: -3vw;
    font-size: 3vw;
    text-align: center;
    color: #429D34;
    background-image: url('https://static.tildacdn.com/tild3262-3164-4534-b766-306466326136/white.svg');
    background-position: 60% 95%;
    background-size: 60vw;
    background-repeat: no-repeat;
    height: 8vw;
}

.explanation p {
    font-size: 2vw;
    text-align: center;
    color: white;
    margin: 2.8vw;
}

.explanation ul {
    text-align: center;
    list-style-position: inside;   
    color: white;
}

.explanation ul li {
    font-size: 2vw;
}

.explanation .heart {
    display: inline-block;
    width: 1.5vw;
    margin-right: 1vw;
}


.explanation .marfa {
    margin-left: 2vw;
}

.explanation .marfa img {
    width: 15vw;
    border-radius: 50%;
    margin-left: 2vw;
    margin-bottom: -2vw;
}

.explanation .quote {
    font-size: 1.7vw;
    font-style: italic;
    color: #02C2FF;
}

.video {
    margin-top: 5vw;
    font-weight: 400;
    text-align: center;
    color: white;
}

.video h2 {
    font-size: 3vw;
}

.video video {
    width: 75vw;
}

.pre-snowman {
    text-align: center;
}

.pre-snowman p {
    margin: 1vw !important;
}

.snowman {
    margin-top: 10vw;
}

.snowman p {
    font-size: 3.5vw;
}

.snowman img {
    width: 40vw;
}

.snowmanwhite {
    width: 50vw !important;
}


.form {
    margin-top: 9vw;
    margin-bottom: -5vw;
}    
    
.form p {
    font-size: 3vw;
}

.sale {
    background-color: white;
    border-radius: 15px;
    font-weight: 400;
    width: 40vw;
    padding: 2.5vw;
    margin-bottom: 5vw;
}

.sale h2 {
    color: #02C2FF;
    font-size: 3.5vw;
    margin-bottom: 2vw;
    font-weight: 700;
}

.sale p {
    text-align: right;
    font-size: 2vw;
    margin: 1vw;
}

.sale img {
    width: 3vw;
}

.discount {
    font-size: 3vw;
    font-weight: 600;
}

.normal-price {
    text-decoration: line-through;
    color: gray ;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}


@media screen and (max-width: 800px) {
    
    .mobile {
        display: block;
    }
    
    .desktop {
        display: none;
    }
    
    .birdy {
        background-size: 89%;
        background-repeat: no-repeat;
        background-position-x: 110%;
        background-position-y: 6%;
    }
    
    .age {
        background-size: 20%;
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 75%;
    }
    
    .leaf {
        background-position-x: 3%;
        background-position-y: 6%;
    }
    
    .city-left, .city-right {
        background-size: 18%;
        background-position-y: 100%;
    }
    
    .city-right h2 {
        margin: 18px !important;
    }
    
    .white-top {
        width: 100vw;
        margin-top: 8vw;
        margin-bottom: -11vw;
        margin-left: 0vw;
    }
    
    .first-f {
        margin-top: 10vw;
    }

    .first-f h1 {
        text-align: left;
        font-size: 10vw;
        line-height: 12vw;
    }
    

    .first-f p {
        font-size: 4.6vw;
        width: 53vw;
        margin-top: 10vw;
        margin-bottom: 10vw;
    }
    
    .first-f button {
        margin-top: 27vw;
        margin-left: 0;
    }

    button, a {
        font-size: 4vw !important;
        border-radius: 8px !important;
        padding: 3vw !important;
        background-color: #FFF;
    }
    
    .mobile-flex {
        display: flex;
        justify-content: center;
    }
    
    .explanation h2 {
        font-size: 6vw;
        margin-bottom: 9vw;
        margin-top: 0;
    }
    
    .explanation p {
        margin-bottom: 25vw;
        margin-top: 3vw;
        font-size: 4.6vw;
    }
    
    .explanation ul {
        margin-bottom: 25vw;
    }
    
    .explanation ul li {
        font-size: 4.6vw;
        padding: 2vw;
    }
    
    .watch-flex {
        display: flex;
        justify-content: center;
    }
    
    .flex {
        flex-wrap: wrap-reverse;
    }
    
    .explanation .marfa img {
        width: 75vw;
    }
    
    .explanation .marfa p {
        margin-bottom: 0;   
    }
    
    .explanation .heart {
        width:4.5vw;
    }
    
    .text-right {
        text-align: center !important;
    }
    
    .explanation .quote {
            font-size: 4.6vw;
    }
    
    .pre-snowman p {
        margin-bottom: 3vw;
    }
    
    .snowman {
        margin-top: 15vw;
        flex-wrap: wrap !important;
    }
    
    .snowman img {
        width: 75vw;
        
    }
    
    .snowman p {
        margin-top: 10vw;
        margin-bottom: 3vw;
    }
    
    .form p {
        margin-top: 20vw;
        margin-bottom: -20vw;
    }
    
    .video h2 {
        font-size: 6vw;
    }
    
    .video button {
        margin-top: 8vw;
    }
    
    .sale {
        width: 85vw;
        padding: 4.5vw;
        margin-top: -20vw;
    }
    
    .sale h2 {
        font-size: 6vw;
        margin-bottom: 5vw;
    }
    
    .sale p {
        font-size: 4.6vw;
        margin: 2vw;
    }
    
    .sale img {
        width: 7vw;
    }
    
    .sale-price {
        margin-top: 4vw !important;
    }
    
    .discount {
        font-size: 6vw;
    }
    
}
